.image-home-user{
    color: aliceblue;
}
.navbar-user{
    color: aliceblue !important;
   background-color: black !important;
   position: sticky;
   top: 0%;
}


.navbar-lists{
    color: rgb(255, 255, 255) !important;
}
.navbar-lists-in{
    color: black;
}

