

  
  a:hover {
    color: #000000;
  }
  
  .form-admin {
    background: rgba(19, 35, 47, 0.9);
    padding: 30px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  
  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .tab-group li a:hover {
    background: #0000002f;
    color: #ffffff;
  }
  
  .tab-group .active a {
    background: #00000092;
    color: #ffffff;
  }
  
  .tab-content > div:last-child {
    display: none;
  }
  

 
  
  .field-wrap {
    position: relative;
    
  }
  
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  
  .top-row > div:last-child {
    margin: 0;
  }
  
  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 5px 0;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #000000;
    color: #ffffff;
    transition: all.5s ease;
    -webkit-appearance: none;
  }
  
  .button:hover,
  .button:focus {
    background: #00000076;
  }
  
  .button-block {
    display: block;
    width: 100%;
  }
  
  .forgot {
    margin-top: -20px;
    text-align: right;
  }

  .admin-login-input{
    background-color: #ffffffba;
    border-radius: 5px;
  }


  